.navbar {
    background-color: #68D5B6;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.navbar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
    margin-left: 10px;
}

.logo {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content li {
    padding: 10px;
}

.dropdown-content li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content li a:hover {
    background-color: #ddd;
}

/* login/signup */
.auth-links {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.auth-link {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.auth-link:hover {
    background-color: #EAD7BB;
}

.auth-link a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: flex;
    align-items: center;
}

.auth-link i {
    margin-right: 5px;
}

.auth-link span {
    margin-left: 5px;
}

.auth-link a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* เพิ่มเติมสำหรับการจัดการเนื้อหาของหน้าให้มีพื้นที่จาก navbar */
.content {
    padding-top: 100px; 
}

/* user dropdown */
.user-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color:#EAD7BB;
    color: black;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: right;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

.user-dropdown-content a, .user-dropdown-content .logout-button {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.user-dropdown-content .logout-button {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.user-profile-link:hover, .logout-button:hover {
    background-color: #ddd;
    
}

/* เพิ่มเติมสำหรับการจัดการเนื้อหาของหน้าให้มีพื้นที่จาก navbar */
.content {
    padding-top: 100px; 
}
