.navbar {
    background-color: #68D5B6;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.navbar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
    margin-left: 10px;
}

.logo {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content li {
    padding: 10px;
}

.dropdown-content li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content li a:hover {
    background-color: #ddd;
}

.auth-links {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.auth-link {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.auth-link:hover {
    background-color: #EAD7BB;
}

.auth-link a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: flex;
    align-items: center;
}

.auth-link i {
    margin-right: 5px;
}

.auth-link span {
    margin-left: 5px;
}

.auth-link a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
